body {
    background-color: blanchedalmond;
}
/* .container{
    height: 600px;
    width: 500px;
    background-color: aqua;
} */

.imgs-2 {
    height: 180px;
    width: 280px;
}
.imgs-3 {
    height: 270px;
    width: 290px;
}