body {
    background-color: blanchedalmond;
}
.imgs-2 {
    height: 180px;
    width: 280px;
}
.imgs-31 {
    height: 300px;
    width: 290px;
}
.imgs-32 {
    height: 240px;
    width: 290px;
}
